<header class="page-header text-center">
  <h1>{{ title }}</h1>
</header>

<main class="main">
  <div
    class="alert"
    [ngClass]="{ 'alert-success': win, 'alert-danger': loose }"
  >
    <span *ngIf="loose">You lost</span> <span *ngIf="win">Great, you won!</span>
    <button
      (click)="startGame()"
      [ngClass]="{ 'btn-primary': !win && !loose, 'btn-hollow': win || loose }"
    >
      {{ win ? "Play once more" : loose ? "Try again" : "Restart game" }}
    </button>
  </div>

  <div class="container game-content">
    <section class="section-score" *ngIf="!win || !loose">
      <h3>Guess the word</h3>
      <p>
        You have <strong>{{ attempt }}</strong> attempt{{
          attempt === 1 ? "" : "s"
        }}.
        <span *ngIf="miss > 0"
          >You missed <strong>{{ miss }}</strong> time{{
            miss === 1 ? "" : "s"
          }}</span
        >
      </p>
    </section>
    <app-hidden-password
      [password]="password"
      [showLettersList]="showLettersList"
    ></app-hidden-password>
    <app-hangman-img [imgNumber]="imgNumber"></app-hangman-img>

    <app-letters
      [blockLetters]="blockLetters"
      (selectedLetter)="handleCheck($event)"
    ></app-letters>
  </div>
</main>
